*
!/.*

/.ICEauthority
/.Xauthority
/.bash_history
/.bash_logout
/.codehost-config.pid
/.codehost-license.pid
/.dmrc
/.lesshst
/.profile
/.sudo_as_admin_successful
/.viminfo
/.wget-hsts
/.xsession-errors
/.xsession-errors.old
