Documents/
Downloads/
Pictures/
.ICEauthority
.Skype/
.bash_history
.bash_logout
.cache/
.config/
.gconf/
.gitconfig
.gnome/
.gnupg/
.gstreamer-0.10/
.local/
.mozilla/
.pki/
.profile
.purple/
.ssh/
.viminfo
.ycm_extra_conf.pyc
